.idea
.vscode
/*/target/*

!/quizz-app/target/quizz-0.0.1-SNAPSHOT.jar
!./quizz-app/target\quizz-0.0.1-SNAPSHOT.jar
!./user/target\**
!./api-gateway/target/**
./api-gateway/target/**
api-gateway/target/
posts/target/
eureka-server/target/
comments/target/
cours/target/
quizz-app/target/


/*/data

HELP.md
/*/!.mvn/wrapper/maven-wrapper.jar
/*/!**/src/main/**/target/
/*/!**/src/test/**/target/

### STS ###
/*/.apt_generated
/*/.classpath
/*/.factorypath
/*/.project
/*/.settings
/*/.springBeans
/*/.sts4-cache

### IntelliJ IDEA ###
/*/.idea
/*/*.iws
/*/*.iml
/*/*.ipr

### NetBeans ###
/*/nbproject/private/
/*/nbbuild/
/*//dist/
/*/nbdist/
/*/.nb-gradle/
/*/build/
/*/!**/src/main/**/build/
/*/!**/src/test/**/build/

### VS Code ###
/*/.vscode/
