.quiz-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .quiz {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .quiz h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .quiz ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quiz li {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
  }
  